<div class="content">
    <div class="card mx-auto p-5">
        <div class="row pl-5 pt-3 title">
            <div class ="col-2 ">  <label class = "title">Flavour</label></div>
            <div class ="col-2 "><label>Price</label></div>
            <div class ="col-4 "><label>Purches</label></div>
            <div class ="col-2 "><label>Sold</label></div>
            <div class ="col-2 "><label>In stock</label></div>
        </div>
        <div *ngFor = "let can of cans; index as indexOfelement;">
            <div class="row pt-3">     
                <div class ="col-2">
                    {{can.name}}
                </div>
                <div class ="col-2">
                   ${{can.priceInCents/100}}
                </div>
                <div class ="col-2">
                    <button [disabled]="can.numberInStock=== 0" type="button" (click) ="payWithCash(indexOfelement)">
                        Cash
                    </button>
                </div>
                <div class ="col-2" >
                    <button [disabled]="can.numberInStock===0" type="button" (click) ="payWithCard(indexOfelement)">
                        Card
                    </button>
                </div>
                <div class ="col-2">
                    {{can.numberSold}}
                </div>
                <div class ="col-2 text-center">
                    {{can.numberInStock}}
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="row col-6">
                <label class="col-7"> Amount in Cash: <span class="amountInput">$ {{cashPayment/100}}</span> </label> 
            </div>
            <div class="col-6 m-0 row">
                <label class="col-7"> Amount in Card: <span class="amountInput">$ {{cardPayment/100}}</span> </label> 
            </div>            
         </div>
        <div class="pt-5" >
            <button  type="button" (click) ="restock()">
                Restock
            </button>
        </div>
        
    </div>
  </div>
