.content {
    flex: 1;
    justify-content: center;

    .card {  
        margin-top: 32px;
        display: block;
        border-radius: 4px;
        border: 1px solid #E9E9E9;
        background-color: #ffffff;
        max-width: 780px;


        .title {
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
        }

        .text {
            line-height: 28px;
            margin-top: 24px;
        }
    }
}