<div class="content">
    <div class="card mx-auto p-5">
        <div class="row pt-3 title">
            <div class ="col-3 "><label class = "title">Flavour</label></div>
            <div class ="col-3 "><label>Sold</label></div>
            <div class ="col-3 "><label>In stock</label></div>
            <div class ="col-3 "><label>Number of new cans</label></div>
        </div>
        <div *ngFor = "let can of cans; index as i;">
            <div class="row p-0 pt-3">     
                <div class ="col-3 ">
                    {{can.name}}
                </div>   
                <div class ="col-3">
                    {{can.numberSold}}
                </div>              
                <div class ="col-3">
                   {{can.numberInStock}} 
                </div>
                <div class ="col-3">
                    <input class ="col-12" [(ngModel)]="newStock[i]" />
                 </div>
            </div>
        </div>
        <div class="row pt-3 title">
            <div class ="col-3 ">
                Total:
            </div>
            <div class="pt-1 col-3 title" >
                 {{totalSold}}
            </div>
            <div class="pt-1 col-3 title" >
                {{totalInStock}}
           </div>
        </div>

        <div class="row col-6 mt-4">
            <label class="col-7"> Amount in Cash: <span class="amountInput">$ {{cashPayment/100}}</span> </label> 
        </div>
        <div class="col-6 row mt-2">
            <label class="col-7"> Amount in Card: <span class="amountInput">$ {{cardPayment/100}}</span> </label> 
        </div>            

         <div class="text-center">
            <button class ="col-4 mt-5" type="button" (click) = "restock()">
                Restock
            </button>
         </div>
         
    </div>
  </div>
